html{
  background-color: #fff;
  color: #2a2a2a;
  font-family: 'Inter', sans-serif;
}
li {
  list-style-type: none;
}

.header-link{
  display: flex;
  align-items: center;
   }
.header-nav a{
    text-decoration: none;
  color: #2a2a2a;
}


header{
 
    display: flex;
  align-items: center;
  background-color: bisque;
}

.header-logo {
margin-left: 71px;
}
img{
  flex-wrap: wrap;
}

.header-nav{
  background-color: #FFB342;
  width: 1200px;
  height: 88px;
 margin: 0 auto;
  display: flex;
  align-items: center;
}
.header-item{
  margin-right: 45px;
  font-size: 20px;
}
.button1{
  width: 298px;
  height: 68px;
  background-color: #1C2752;
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-left: auto;
}